<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="/static/css/boogle.css">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">

</head>
<body>
        <div class="main">
            <div class="header">
                <div class="header-item">
                    <a href="https://www.google.com"><img class="icon" src="/static/img/userIcon.png"></a>
                </div>
                <div class="header-item">
                    <a href="#><img class="icon" src="/static/img/menuIcon.png" </a>
                </div>
                <div class="header-item">
                    <a href="https://www.google.si/imghp?hl=sl&tab=wi&ogbl"><span>Slike</span></a>
                </div>
                <div class="header-item">
                    <a href="https://www.gmail.com"><span>Gmail</span></a>
                </div>
            </div>
            <div class="container">
                <div class="logo">
                    <span class="color-b">B</span>
                    <span class="color-o">o</span>
                    <span class="color-o">o</span>
                    <span class="color-g">g</span>
                    <span class="color-l">l</span>
                    <span class="color-e">e</span>
                </div>
                <div>
                    <input class="search-bar" type="text" placeholder="">
                </div>
                <div>
                    <div class="buttons">
                         <div class="gumb">
                             <button>Iskanje Boogle</button>
                         </div>
                         <div class="gumb">
                             <button> Klik na srečo</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="left-footer">
                    <div>
                        <a href="https://ads.google.com/intl/sl_si/home/"><span>Oglaševanje</span></a>
                    </div>
                    <div>
                        <a href="https://www.google.com/services/"><span>Posel</span></a>
                    </div>
                    <div>
                        <a href="https://about.google/"><span>Predstavitev</span></a>
                    </div>
                    <div>
                        <a href="https://www.google.com/search/howsearchworks/?fg=1"><span>Kako deluje Iskanje Boogle</span></a>
                    </div>
                </div>
                <div class="right-footer">
                    <div>
                        <a href="https://www.google.com/preferences?hl=sl"><span>Nastavitve</span></a>
                    </div>
                    <div>
                        <a href="https://policies.google.com/terms?hl=sl&fg=1"><span>Pogoji</span></a>
                    </div>
                    <div>
                        <a href="https://policies.google.com/privacy?hl=sl&fg=1"><span>Zasebnost</span></a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>