<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My Fakebook">
    <meta name="keywords" content="html, css, smartninja, online course, fakebook">
    <meta name="author" content="Marko">

    <title>Marko | Fakebook</title>
    <link rel="stylesheet" href="/static/css/fakebook.css">
</head>
<body>
    <h1 class="first-big-letter">Fakebook</h1>
    <hr class="top-line">
    <p>
        <!-- atribute placeholder Specifies a short hint that describes the expected value of an <input> element -->
        Išči: <input class="search-bar" type="search" placeholder="Išči po imenu">
    </p>
    <h2>Marko B.</h2>
    <img  class="img resize-pic" src="https://graphicriver.img.customer.envatousercontent.com/files/250865640/preview.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=16819b5a621cf1e0605c938d7d34d2f6">
    <br>
    <br>
    <button class="button">Dodaj prijatelja</button>
    <p class="info">Mesto bivanja: <span class="span-text">Celje</span></p>
    <p class="info">Starost: <span class="span-text">30+</span></p>
    <p class="info">Hobiji: <span class="span-text">Košarka, kolesarjenje</span></p>
    <p class="info">FB prijatelji: <span class="span-text">125</span></p>
    <p class="info">FB sovražniki: <span class="span-text">0</span></p>
</body>
</html>