<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marko B.</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div class="nav">
            <div class="nav-bar">
                <a href="/" class="active">HOME</a>
            </div>
            <div class="nav-bar">
                <a href="/portfolio">PORTFOLIO</a>
            </div>
            <div class="nav-bar">
                <a href="/about">ABOUT</a>
            </div>
        </div>
        <div class="main">
            <div>
                <p class="text-lg text-lgh-white">Hello, I'm</p>
                <p class="text-lg text-bd-orng">Marko Borko</p>
                <p class="text-sm-white">AND THIS IS MY FIRST PERSONAL PAGE.</p>
            </div>
        </div>
    </body>
</html>
