<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/portfolio.css">
</head>
    <body>
        <div class="nav">
            <div class="nav-bar">
                <a href="/">HOME</a>
            </div>
            <div class="nav-bar">
                <a href="/portfolio" class="active">PORTFOLIO</a>
            </div>
            <div class="nav-bar">
                <a href="/about">ABOUT</a>
            </div>
        </div>
        <div class="portfolio">
            <div class="portfolio-box">
                <div class="portfolio-title">
                    <p>MY PORTFOLIO</p>
                </div>
                <div class="portfolio-text">
                    <p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam,
                        consectetur deleniti doloremque expedita harum ipsa laboriosam maiores natus obcaecati odit omnis,
                        quas quo saepe sint vel vero, voluptatum!
                        </span>
                        <br>
                        <ul>
                            <li><a href="/portfolio/fakebook">Fakebook</a></li>
                            <li><a href="/portfolio/boogle">Boogle</a></li>
                            <li><a href="/portfolio/hair-salon">Hair Salon</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>